<a href="https://colab.research.google.com/github/RYEONGRYEONG/Python/blob/main/6_Strings_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문자열과 딕셔너리
    # 두 가지 기본 Python 데이터 유형인 문자열 및 딕셔너리 작업

"""
이 단원에서는 문자열과 딕셔너리라는 두 가지 필수 Python 유형을 다룹니다.
"""
""""""

''

In [ ]:
# 문자열
"""
Python 언어가 실제로 빛을 발하는 한 곳은 문자열 조작입니다.
이 섹션에서는 Python의 내장 문자열 메서드 및 서식 지정 작업 중 일부를 다룹니다.

이러한 문자열 조작 패턴은 데이터 과학 작업의 맥락에서 자주 나타납니다.
"""
""""""

''

In [ ]:
"""
문자열 구문
이전 수업의 예제에서 이미 많은 문자열을 보았지만 간단히 요약하면 Python의 문자열은 작은따옴표 또는 큰따옴표를 사용하여 정의할 수 있습니다.
기능적으로 동일합니다.
"""

x = 'Pluto is a planet' 
y = "Pluto is a planet" '문장으로 된 것은 큰따옴표로 작성하는 것을 추천'
x == y

True

In [ ]:
"""
문자열에 작은따옴표 문자가 포함된 경우 큰따옴표가 편리합니다(예: 아포스트로피 표시).

마찬가지로 작은따옴표로 묶으면 큰따옴표가 포함된 문자열을 쉽게 만들 수 있습니다.
"""

print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [ ]:
"""
작은따옴표 문자열 안에 작은따옴표 문자를 넣으려고 하면 Python이 혼란스러워집니다.
"""

'Pluto's a planet!'

SyntaxError: ignored

In [ ]:
"""
작은따옴표를 백슬래시로 "이스케이프"하여 이 문제를 해결할 수 있습니다.
"""

'Pluto\'s a planet!'

"Pluto's a planet!"

In [ ]:
"""
아래 표에는 백슬래시 문자의 몇 가지 중요한 용도가 요약되어 있습니다.
"""

What you type...      What you get      example	                    print(example)
\'                    '                 'What\'s up?'               What's up?
\"                    "                 "That's \"cool\""           That's "cool"
\\                    \                 "Look, a mountain: /\\"     Look, a mountain: /\
\n                                      "1\n2 3"                    1
                                                                    2 3

SyntaxError: ignored

In [ ]:
"""
마지막 시퀀스 \n은 개행 문자를 나타냅니다.
Python이 새 줄을 시작하도록 합니다.
"""

hello = "hello\nworld"
print(hello)

hello
world

In [ ]:
"""
또한 문자열에 대한 Python의 삼중 따옴표 구문을 사용하면 문자 그대로 개행 문자를 포함할 수 있습니다(즉, 특수 '\n' 시퀀스를 사용하는 대신 키보드에서 'Enter' 키를 누르기만 하면 됨).
우리는 함수를 문서화하는 데 사용하는 docstring에서 이미 이것을 보았지만 문자열을 정의하려는 모든 곳에서 사용할 수 있습니다.
"""

triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [ ]:
"""
print() 함수는 기본값 '\n' 이외의 키워드 인수 end 값을 지정하지 않는 한 자동으로 개행 문자를 추가합니다.
"""

print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

In [ ]:
# 문자열은 시퀀스입니다.
"""
문자열은 일련의 문자로 생각할 수 있습니다.
우리가 목록에 할 수 있는 거의 모든 것을 문자열에도 할 수 있습니다.
"""

# Indexing
planet = 'Pluto'
planet[0]

'P'

In [ ]:
# Slicing
planet[-3:]

'uto'

In [ ]:
# How long is this string?
len(planet)

5

In [ ]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [ ]:
"""
그러나 리스트와 다른 주요 방식은 변경할 수 없다는 것입니다.
수정할 수 없습니다.
"""

planet[0] = 'B'
# planet.append doesn't work either

TypeError: ignored

In [ ]:
# 문자열 메서드
"""
리스트와 마찬가지로 str 유형에는 매우 유용한 메서드가 많이 있습니다.
여기서는 몇 가지 예만 보여드리겠습니다.
"""

# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [ ]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [ ]:
# Searching for the first index of a substring
claim.index('plan') '11번째부터 있다.'

11

In [ ]:
claim.startswith(planet)

True

In [ ]:
# false because of missing exclamation mark
claim.endswith('planet') '느낌표가 빠짐, 느낌표를 넣으면 True'

False

In [ ]:
"""
문자열과 목록 간 이동: .split() 및 .join()
str.split()은 문자열을 더 작은 문자열 목록으로 변환하여 기본적으로 공백을 깨뜨립니다.
이것은 하나의 큰 문자열에서 단어 목록으로 이동하는 데 매우 유용합니다.
"""

words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [ ]:
"""
때때로 공백이 아닌 다른 것으로 분할하고 싶을 것입니다.
"""

datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [ ]:
"""
str.join()은 호출된 문자열을 구분 기호로 사용하여 문자열 목록을 하나의 긴 문자열로 바느질하는 다른 방향으로 우리를 안내합니다.
"""

'/'.join([month, day, year])

'01/31/1956'

In [ ]:
# Yes, we can put unicode characters right in our string literals :)
' 👏 '.join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET!'

In [ ]:
# .format()으로 문자열 만들기
"""
Python을 사용하면 문자열을 + 연산자로 연결할 수 있습니다.
"""

planet + ', we miss you.'

'Pluto, we miss you.'

In [ ]:
"""
문자열이 아닌 객체를 던지려면 먼저 str()을 호출해야 합니다.
"""

position = 9
planet + ", you'll always be the " + position + "th planet to me."

TypeError: ignored

In [ ]:
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [ ]:
"""
이것은 읽기 어렵고 입력하기가 짜증나고 있습니다.
구조에 str.format().
"""

"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [ ]:
"""
훨씬 더 깨끗해!
삽입하려는 Python 값이 {} 자리 표시자로 표시되는 "형식 문자열"에서 .format()을 호출합니다.

int에서 위치를 변환하기 위해 str()을 호출할 필요조차 없다는 점에 주목하십시오.
format()이 이를 처리합니다.

그것이 format()이 한 전부라면 여전히 매우 유용할 것입니다.
그러나 결과적으로 훨씬 더 많은 일을 할 수 있습니다.
맛보기는 다음과 같습니다.
"""

pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [ ]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

In [ ]:
"""
아마도 str.format에 대한 짧은 책을 쓸 수 있을 것이므로 여기서 멈추고 더 읽을 수 있는 pyformat.info 및 공식 문서를 알려줄 것입니다.

https://pyformat.info/
https://docs.python.org/3/library/string.html#formatstrings
"""
""""""

''

In [ ]:
# 딕셔너리
"""
딕셔너리는 키를 값에 매핑하기 위한 내장 Python 데이터 구조입니다.
"""

numbers = {'one':1, 'two':2, 'three':3}

In [ ]:
"""
이 경우 'one', 'two', 'three'가 키이고 1, 2, 3이 해당 값입니다.

목록 및 문자열에 대한 인덱싱과 유사한 대괄호 구문을 통해 값에 액세스합니다.
"""

numbers['one']

1

In [ ]:
"""
동일한 구문을 사용하여 다른 키, 값 쌍을 추가할 수 있습니다.
"""

numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [ ]:
"""
또는 기존 키와 연결된 값을 변경하려면
"""

numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [ ]:
"""
Python에는 이전 자습서에서 본 list comprehension과 유사한 구문을 사용하는 딕셔너리 comprehension이 있습니다.
"""

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [ ]:
"""
in 연산자는 무언가가 사전의 키인지 여부를 알려줍니다.
"""

'Saturn' in planet_to_initial

True

In [ ]:
'Betelgeuse' in planet_to_initial

False

In [ ]:
"""
사전에 대한 for 루프는 해당 키를 반복합니다.
"""

for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [ ]:
"""
각각 dict.keys() 및 dict.values()를 사용하여 모든 키 또는 모든 값의 컬렉션에 액세스할 수 있습니다.
"""

# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [ ]:
"""
매우 유용한 dict.items() 메서드를 사용하면 사전의 키와 값을 동시에 반복할 수 있습니다.
(Python 전문 용어에서 항목은 키, 값 쌍을 나타냅니다.)
"""

for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [ ]:
"""
사전 방법의 전체 목록을 읽으려면 아래의 "출력" 버튼을 클릭하여 전체 도움말 페이지를 읽거나 공식 온라인 문서를 확인하십시오.

https://docs.python.org/3/library/stdtypes.html#dict
"""

help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If key is not found, default is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None